.homeContainer{
    /* background-image: url("https://thumbs.dreamstime.com/b/om-sign-lotus-flower-rainbow-watercolor-texture-splash-isolated-spiritual-buddhist-hindu-symbol-80382453.jpg"); */
    /* background-image: url("https://cdn.statusqueen.com/dpimages/thumbnail/om3-179.jpg");
    background-repeat: repeat-y;
    background-size: 50% auto; */
    /* border: 1px solid black; */
    width: 90%;
    margin-left: 5%;
    background-position: center;
    padding-top: 80px;
   
}