.homeContainer {
    width: 100%;
    min-height: 95vh;
    display: flex; 
}

.homeChildOne {
    width: 30%;
    height: 95vh;
   
}

.homeImageContainer {
    width: 70%;
    height: 95vh;
}

.accordionChild:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media (max-width: 768px) {
    .homeContainer {
        width: 100%;
        min-height: 95vh;
        display: flex;
        flex-direction: column;
    }

    .homeChildOne {
        width: 100%;
        height: auto; 
    }
    
    .homeImageContainer {
        width: 100%;
        height: auto; 
    }
}