.coloredTheme{
  text-align: center;
  background: linear-gradient(to right, #d56b01, #FFFF00);
}

.darkTheme{
  text-align: center;
  background: linear-gradient(to right, #020202, #f4f4f1);
  color: #fff;
}